/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 10px;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div#container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */
  margin: auto;
  max-width: $widest;

  #content-wrap {
    padding-bottom: 2.5rem;
  }

  /*----------- BODY --------------*/
  body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
  }
  /*----------- HEADER --------------*/
  header {
    background-image: linear-gradient(to bottom, transparent, #837960), url("/09/images/bostonskyline.jpg");
    max-width: 100%;
    height: 100px;
    color: white;
  }
}


h1 {
  margin: 0;
  font-family: $title;
}

header h2 {
  margin: 0;
  font-family: $body;
}

/*----------- NAVIGATION --------------*/
nav {
  width: 100%;
  display: flex;
}

.nav-md-lg {
  display: none;
}

.nav-sm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $secondaryColor;

  div {
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #menu {
      border: none;
      background: none;
      font-size: 15pt;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }

    #x {
      display: none;
      border: none;
      background: none;
      font-size: 20pt;
      font-weight: bold;
      font-family: $body;
      color: white;
      transition: ease-in-out 0.2s;
      cursor: pointer;
    }
  }

  #dd-menu {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: solid 1px white;

    li {
      width: 100%;
      height: 50px;
      border-bottom: solid 1px white;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        font-family: $body;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a:hover {
        background-color: lighten($secondaryColor, 13%);
      }
    }
  }
}

.active {
  background: lighten($secondaryColor, 13%);
  padding: 5px;
}

/*----------- MAIN --------------*/
main {
  max-width: $widest;
  picture {
    width:100%;
    position: relative;
    border: 1px solid black;
    img{
      width:100%;
      height: 100%;
    }
    div {
      font-family: $body;
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }
  }
}
.card-grid {
  width:95vw;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 100%; 
  margin-top:30px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform .2s;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
   -ms-transform: scale(1.1);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
  }
}

.solid-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
  background: $primaryColor;
  transition: ease-in 0.3s;
  
  cursor: pointer;
  &:hover {
    opacity: 0;
  }
  h4 {
    color: white;
    font-family: $body;
    margin:0;
    padding-top:10px;
  }
  img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
}

/*----------- FOOTER --------------*/
footer {
  background-color: $secondaryColor;
  padding: 0.5rem 2%;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: $body;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
