// header, nav, main, footer {
//         max-width: 64rem;
//         margin:auto;
// }
nav {
    max-width: 56.25rem;
    margin: 0 auto;
    
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
#slogan{
    display: inline;
}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main figure.scaling {
    margin: 0;
  }
  
  main figure.scaling img {
    width: 31%;
    margin-left: 2%;
  }

/*----------- FOOTER --------------*/
    
footer{margin-top: 4rem;}