/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: $fontFamily;
  
}

/*----------- HEADER --------------*/
div#headerWapper {
  max-width: $widest;
  background-color: lighten($primaryColor, 30%);

  header img {
    max-width: 100%;
    max-height: 100%;
  }
}

#slogan {
  display: none;
}

header {
  padding: 0.5rem 2%;
  background-color: lighten($primaryColor, 30%);
  #logo {
    float: left;
  }
}

header h1 {
  margin: 0;
  font-weight: $boldWeight;
  padding-top:50px;
}

header h2 {
  margin: 0;
  font-weight: normal;
}

/*----------- NAVIGATION --------------*/
div#navWrapper {
  background: $primaryColor;
  max-width: $widest;
 
}

nav {
  background-color: $primaryColor;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  width: 50%;
}

nav ul li a {
  display: block;
  background-color: lighten($primaryColor, 10%);
  color: #eee;
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
  padding: .8rem .3rem;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: center;
}

nav ul li:first-child a {
  border-left: none;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
}

nav ul li.active a {
  background-color: darken($primaryColor, 10%);
  color: #fff;
}

/*----------- MAIN --------------*/
div#mainwrapper {
  max-width: $widest;
}

main {
  padding: .5rem;
  min-height: 10rem;

  h1 {
    color: $primaryColor;
    font-weight: $boldWeight;
  }
}

main figure.hero {
  margin: 0;
}

main figure.hero img {
  width: 100%;
  max-width: 75rem;
}

main figure.scaling {
  margin: 0;
}

main figure.scaling img {
  width: 100%;
}

/*----------- FOOTER --------------*/
footer {
  background-color: #ddd;
  padding: 0.5rem 2%;
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
