$primaryColor: #fffaef;
$secondaryColor: #800000;
$Toms: 'Yellowtail', cursive;
$Bistro: 'Lexend Peta', sans-serif;
$fontFamily: 'Crimson Text', serif;
$boldWeight:500;
$normalWeight:400;
$gutter: 2%;
$widest: 75rem;