$primaryColor: #7d3f33;
$secondaryColor: #5e7784;
$textColor: white;
$fontFamily: 'Montserrat', sans-serif;
$headFont: 'Major Mono Display', monospace;
$boldWeight:500;
$normalWeight:400;
$gutter: 2%;
$widest: 60rem;