/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html { 
    background-image: linear-gradient(rgba(54, 69, 79, 0.80), rgba(154, 154, 154, 0.10)), url(/images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div#container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    /* height of your footer */
    margin: auto;
    max-width: $widest;
}


