// header, nav, main, footer {
//         max-width: 64rem;
//         margin:auto;
// }
nav {
  max-width: 56.25rem;
  margin: 0 auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
#slogan {
  display: inline;
}

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
div.newspaper {
  column-count: 4;
  column-gap: 2rem;
}

/*----------- FOOTER --------------*/

footer {
  margin-top: 4rem;
}
