nav {
  max-width: $widest;
  margin: 0 auto;

}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/


/*  ----------------------- NAVIGATION --------------------------- */
nav {
  width: $widest;
}


/*----------- MAIN --------------*/
form {
  width:25%;
}
button{
  width:25%;
}


/*----------- FOOTER --------------*/