
nav {
    max-width: 56.25rem;
    margin: 0 auto;
    
}

/*----------- BODY --------------*/
.form-section {
  padding-bottom: 25px;
  width:25%;
}


/*----------- HEADER --------------*/


/*  ----------------------- NAVIGATION --------------------------- */
nav{
  width:$widest;
}


/*----------- MAIN --------------*/


/*----------- FOOTER --------------*/
    
