/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: $fontFamily;
  max-width: $widest;
  margin: auto;

  #page-container {
    position: relative;
    min-height: 100vh;
  }

  #content-wrap {
    padding-bottom: 2.5rem;
  }
}



/*----------- HEADER --------------*/
div#headerWrapper {
  max-width: $widest;
  background: $primaryColor;
}

picture {
  padding: 0;
}

header h1 {
  font-family: $headFont;
  font-size: 36pt;
  margin: 0;
  padding-left: 3%;
  color: $third;
}

/*----------- NAVIGATION --------------*/
nav {
  width: 100%;
  display: flex;
  position: relative;
}

.nav-md-lg {
  display: none;
}

#sub-nav {
  display: none;
}

.nav-sm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  div {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $primaryColor;
    background: linear-gradient(0deg, $primaryColor 20%, $secondaryColor 100%);

    &:hover {
      background-color: lighten($primaryColor, 30%);
    }

    #menu {
      border: none;
      background: none;
      font-size: 16pt;
      font-weight: bold;
      color: white;

    }

    #x {
      display: none;
      border: none;
      background: none;

      font-weight: bold;
      font-family: $fontFamily;
      color: white;
      transition: ease-in-out 0.2s;
    }
  }

  #dd-menu {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: solid 1px white;
    transition: ease-in-out 0.2s;
    background: $primaryColor;

    .dd-item {
      width: 100%;
      height: 50px;
      border-bottom: solid 1px white;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:hover {
        background-color: lighten($primaryColor, 30%);
      }

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        font-family: $fontFamily;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
      }
    }
  }

  #dd-sub-menu {
    width: 100%;
    height: 120px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      width: 100%;
      height: 40px;
      font-family: $fontFamily;
      color: white;
      background: $primaryColor;
      border-bottom: solid 1px white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 40px;

      &:hover {
        background-color: lighten($primaryColor, 30%);
      }
    }

  }
}

#active {
  background: darken($primaryColor, 10%);
}

/*----------- MAIN --------------*/
div#mainwrapper {
  max-width: $widest;
}

main {
  padding: .3rem;
  min-height: 10rem;

  .form-section {
    padding-bottom: 25px;
    width: 100%;

    fieldset {
      border-radius: 10px;
      opacity: 5;
      color: $primaryColor;

      legend {
        font-size: 16pt;
      }

      form {
        padding-top: 5px;
        padding-bottom: 5px;

        input:required:required{
          border:1px solid blue;
        }
        input:invalid{
          border:1px solid salmon;
        }

        label {
          margin-bottom: 20px;
        }

        //omitting radio on input css so the width doesnt get messed up
        input[type=text],
        [type=date],
        [type=url],
        [type=number],
        select {
          margin-bottom: 20px;
          width: 100%;
        }

        input[type=text],
        [type=date],
        [type=url],
        [type=number],
        select {
          background-color: lighten($third, 15%);
          font-size: 16pt;
          font-family: Arial, Helvetica, sans-serif;
          border-radius: 6px;
          border: 1px solid $primaryColor;
          
        }//end input type

        //end form
      }

       //end fieldset
    }

    
  }//end form section

 
}//end main




button {
  background-color: $primaryColor;
  color: white;
  border-radius: 10px;
  font-size: 20pt;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  transition: transform .2s;
}

button:hover {
  transform: scale(.9);
}

button:focus {
  outline: none;
}
figure{
  img{
    width:100%;
    object-fit: contain;
  }
  figcaption{
    font-size:20pt;
    text-align: center;
  }
}

//end main



/*----------- FOOTER --------------*/
footer {
  background-color: $secondaryColor;
  padding: 0.5rem 2%;
  text-align: center;
  color: white;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  position: absolute;

}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}