$primaryColor: #2e1114;
$secondaryColor: #501b1d;
$third: #adadad;
$textColor: white;
$fontFamily: 'Montserrat' , sans-serif;
$headFont: 'Sedgwick Ave Display', cursive;
$boldWeight:500;
$normalWeight:400;
$gutter: 2%;
$widest: 64rem;