/*----------- HEADER --------------*/
header {
  color: red;
}

/*--------NAV------------*/
nav {
  width:100%;
  a:hover{
      color: lighten($secondaryColor, 50%);
  }
}

/*----------- BODY --------------*/

/*----------- MAIN --------------*/
main {
  padding: 0.3rem;
  min-height: 10rem;
  max-width: $widest;

  figure {
    max-width: 400px;
    overflow: hidden;
    border: 2px solid $primaryColor;
    margin: 0;
    padding: 0;

    img {
      width: 100%;
      object-fit: contain;
    }

    figcaption {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      padding: 4px;
    }
  }

  .big-image {
    max-width: 1000px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .parent {
    padding-top: 10px;
    margin: 0px 30px 0 50px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;

    figure:nth-child(1) {
      grid-column: 1 / span 3;
      grid-row-start: 1;
      grid-row-end: span 2;
    }

    figure:nth-child(2) {
      grid-column: 4;
    }

    figure:nth-child(3) {
      grid-column: 4;
      grid-row: 2;
    }
  } //end parent
}

/*----------- FOOTER --------------*/
footer {
  background-color: $secondaryColor;
  padding: 0.5rem 2%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;

  .grid-container {
    display: grid;
    grid-template-columns: 5% 25% 25%25% 25%5%;
    margin: auto;

    p:nth-child(1) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}
