/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
section {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  width:100%;
  border: 3px solid green;

  .place {
    padding: 5px;
    margin: 5px;

  }
}

/*----------- FOOTER --------------*/
footer {
  margin-top: 4rem;
}