$secondaryColor: #aabaf7;
$primaryColor: #bbe4f9;
$third: #a4c7f2;
$textColor: white;
$fontFamily: 'Roboto' , sans-serif;
$headFont: 'Bangers', cursive;
$boldWeight:500;
$normalWeight:400;
$gutter: 2%;
$widest: 64rem;