/* COLORS */
$primaryColor: #0b172a;
$secondaryColor: #bc4123;
$thirdColor: #463940;
$textColor: white;
/* FONTS */
$title: "Comfortaa", cursive;
$slogan: "Raleway", sans-serif;
/*SCREEN SIZE*/
$widest: 75rem;

